<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of services</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script>
        $(document).ready(function(){
            $('#realTimeData').DataTable();
            $('#allData').DataTable();
            function fetchData() {
                $.get("/update", function(data){
                    let realTimeTable = $('#realTimeData').DataTable();
                    let allTimeTable = $('#allData').DataTable();
                    allTimeTable.clear();
                    realTimeTable.clear();

                    data['realTimeData'].forEach(function(service) {
                        realTimeTable.row.add(service);
                    });
                    data['allTimeData'].forEach(function(service) {
                        allTimeTable.row.add(service);
                    });
                    realTimeTable.draw();
                    allTimeTable.draw();
                });
            }
            setInterval(fetchData, {{ delay }});
            fetchData();

            $('#filter_button').click(function(){
                $.fn.dataTable.ext.search = [];
                let start_date = $('#start_date').val();
                let end_date = $('#end_date').val();

                $.fn.dataTable.ext.search.push(
                    function(settings, data, dataIndex) {
                        let timestamp = new Date(data[3]).getTime();
                        let start = new Date(start_date).getTime();
                        let end = new Date(end_date).getTime();
                        console.log(start)

                        return (isNaN(start) && isNaN(end)) ||
                            (isNaN(start) && timestamp <= end) ||
                            (start <= timestamp && isNaN(end)) ||
                            (start <= timestamp && timestamp <= end);

                    }
                );
                $('#realTimeData').DataTable().draw();
                $('#allData').DataTable().draw();
            });

            $('#btnRealtime').click(function() {
                $('#tabs-real').show();
                $('#tabs-all').hide();
            });

            $('#btnAllTime').click(function() {
                $('#tabs-real').hide();
                $('#tabs-all').show();
            });

            $('#tabs-all').hide();

        });
    </script>
</head>

<body>
    <h1>List of services</h1>

    <label for="start_date">Start Date:</label>
    <input type="datetime-local" step="1" id="start_date">

    <label for="end_date">End Date:</label>
    <input type="datetime-local" step="1" id="end_date">

    <button id="filter_button">Apply Filter</button>
    <button id="btnRealtime">Realtime Data</button>
    <button id="btnAllTime">All Time Data</button>



    <div id="tabs">
        <div id="tabs-real">
            <table id="realTimeData">
                <thead>
                    <tr>
                        <th>Interface</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in data %}
                        <tr>
                            {% for item in service %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="tabs-all">
            <table id="allData" class="display">
                <thead>
                    <tr>
                        <th>+/-</th>
                        <th>Interface</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>+</td>
                        <td>eth0</td>
                        <td>Ethernet</td>
                        <td>Server</td>
                        <td>2024-05-14 15:30:00</td>
                    </tr>
                    <tr>
                        <td>+</td>
                        <td>wlan0</td>
                        <td>Wi-Fi</td>
                        <td>Laptop</td>
                        <td>2024-05-14 15:32:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>

